[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Terminal=false
Exec=/home/bc/Code/airshareGTK/run.sh
Name=Airshare
Icon=/home/bc/Code/airshareGTK/assets/Airshare.svg
